<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Douban.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Douban.Properties.Settings>
            <setting name="EnableSpeech" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAutoPlay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="MinimizeStyle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChannelName" serializeAs="String">
                <value>华语</value>
            </setting>
            <setting name="ChannelNo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>#FF006ECE</value>
            </setting>
            <setting name="BackgroundOpacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EnableAero" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackgroundPicture" serializeAs="String">
                <value/>
            </setting>
        </Douban.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
